button {
    margin-right: 4px;
}
.sheet-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

    border: 1 px solid white;

}
.sheet-nav-buttons {
    display: flex;
    height: 100%;
    align-items: center;
}
.sheet-nav-button {
    display: flex;
    align-items: center;
    margin: 0px 10px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: large;
    border: 2px solid orange;
    border-radius: 10px;
    height: 30%;
}
.portrait {
    height: 140px;
    width: 140px;
    border-radius: 3px;
    border: 2px solid grey;
    margin: 5px;
    object-fit: cover;
}
.stats-rows {
    align-items: center;
    justify-content: center;
}
.stats-row {
 margin: 10px;
}
.quick-stats {
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}
.character-glance {
    justify-content: center;
    align-items: center;    
}
.stat-name {
    justify-self: left;
    margin-right: 10px;
}
.stat-score {
    justify-self: right;
}
.divider {
    width: 100%;
    height: 0%;
    border-top: 1px solid lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tab {
    display: none;
    width: 100;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.skill-name {
    width: 120px;
    margin: 4px;
}
.ability-name {
    font-weight: bold;
}
.skill-row {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    margin-bottom: 4px;
    align-items: center;
    border: 1px solid grey;
    border-radius: 4px;
    padding-right: 5px;
    height: 24px;
}
.divider-vertical {
    display: none;
    height: 100%;
    max-height: 20px;
    border-left: 1px solid lightgrey;
    margin-left: 10px;
    margin-right: 10px;
}
.tab-container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 15px;
}
.tab-container-col {
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.no-margin {
    margin: 0;
}
.no-margin-top {
    margin-top: 0;
}
.quarter-split {
    width: 25%;
}
.third-split {
    width: 33%;
}
.outline {
    border: 1px solid orange;
}