
.big-menu-buttons {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 0;
    padding: none;

}
.big-menu-button {
    width: 33%;
    margin: auto;
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
    filter: brightness(85%);
    transition: filter 0.3s;
}
.big-menu-button img {
    transition: transform 0.3s;
}
.big-menu-button:hover {
    filter: brightness(100%);
}
.big-menu-button:hover img {
    transform:scale(1.1);
}
.menu-button-text {
    position: absolute;
    top: 20px;
    left: 50%;
    font-size: 40pt;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5;
}